<body>
    <div class="container">
        <div class="card row">
            <div class="col-md-12">
                <% Apartment.forEach( function(model) { %>
                <h3>
                    <%= model.Property_Title %>
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <img id="lc_div" style="object-fit:fill" height="300" width="400" src="<%= model.Image_URL%>" />
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered">

                            <tr>
                                <td><strong>Estate:</strong><%= model.Estate%></td>
                            </tr>

                            <tr>
                                <td><strong>Gross Area:</strong><%= model.Gross_Area%></td>
                            </tr>

                            <tr>
                                <td><strong>Rent:</strong> $<%= model.Rent%></td>
                            </tr>

                            <tr>
                                <td><strong>Bedrooms:</strong><%= model.Bedrooms%>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Expected
                                        Tenants:</strong><%= model.Expected_Tenants%>
                                </td>
                            </tr>
                            <tr>
                                <td id='created' value='<%= model.createdAt%>'><strong>
                                        Created:</strong><%= model.createdAt%>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>
                                        Updated:</strong><%= model.updatedAt%>
                                </td>
                            </tr>

                            <% if(req.session.username != null & req.session.username != "admin"){ %>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary  btn-block"
                                        onclick="AddApartment('<%= model.id %>','<%= req.cookies.id %>')">Rent this
                                        apartment</button>
                                </td>
                            </tr>
                            <%};%>
                        </table>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>

</body>

<script>

    async function AddApartment(qid, quid) {
        console.log(qid, quid);
        var response = await fetch(
            action = '/user/' + quid + '/rents/add/' + qid, {
            method: "GET",
            credentials: 'same-origin',
        }
        );
        if (response.ok) {
            var data = await response.json();
            alert(data.message);
            window.location = "";
        } else {
            alert(response.status + ": " + response.statusText);
        }
    }

</script>